/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

.fondo-freyja {
    background-image: url(../img/fondo/freyja_quesito.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.tamano-padre {
    height: inherit;
    width: inherit;
}

.centrado {
    background-color: aliceblue;
}